body {
    background-color:steelblue;
}

form {
    text-align: center;
    background-color: aliceblue;
    box-shadow: 10px 0px 500px black;
    border-radius: 50px;
    font-family:'Courier New', Courier, monospace;
    width: 25%;
    height: 180px;
    margin: auto;
    padding: 2px;
}

#text {
    margin-top: 5px;
    text-align: center;
    text-decoration:underline;
    border: none;
    border-bottom: 1px solid;
}

button {
    background-color:aliceblue;
    border-radius: 5px;
    font-size: 1em;
}

button:active {
    background-color: lightgreen;
}

#placeholder {
    margin: 5px;
    text-decoration:underline;
}